@import '@styles';

.guestsPage {
    max-width: 768px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    padding: 30px;

    background-color: $bg-color;
    @include flex-column();
    box-sizing: border-box;
    margin: 0 auto;
    gap: 20px;
    .pageHeader {
        @include flex-row();
        @include flex-justify-center();
        width: 100%;
        .title,
        h1 {
            flex: 1;
            margin: 0;
            text-transform: uppercase;
        }
        button {
            max-width: 200px;
            border-radius: 50px;
        }
        div {
            max-width: 300px;
            width: 100%;
        }
    }
}
