.carousel {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;

    .imageCard {
        box-sizing: border-box;
        img {
            width: 100%;
            height: 100%;
            max-height: 400px;
            background-color: #ccc;
            object-fit: cover;
        }
    }
}
