@import '@styles';

.logo {
    background-color: $dark-grey-color;
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    @include flex-row();
    @include flex-all-center();
    a {
        p {
            font-size: 20px;
            font-weight: 600;
            color: $white-color;
            margin: 0;
            cursor: pointer;
            width: auto;
        }
    }
}
