@import '@styles/index.scss';

.eventCard {
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    max-width: 800px;
    @include flex-column();
    @include flex-justify-center();
    box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.2);
    .eventImg {
        width: 100%;
        height: 240px;

        img {
            width: 100%;
        }
    }
    .eventContent {
        @include flex-column();
        align-items: start;
        height: auto;
        background-color: $white-color;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        h3 {
            margin: 0;
        }
        .eventFooter {
            @include flex-row();
            @include flex-justify-center();
            width: 100%;
            button {
                width: 120px;
                height: 40px;
            }
        }
    }
}
