@import '@styles/index.scss';
section.eventPage {
    max-width: 1320px;
    width: 100%;
    height: auto;
    padding: 30px 30px;
    background-color: $bg-color;
    @include flex-column();
    box-sizing: border-box;
    margin: 0 auto;
    gap: 20px;
    .eventHeader {
        @include flex-row();
        @include flex-justify-center();
        width: 100%;
        .title,
        h1 {
            flex: 1;
            margin: 0;
        }
        button {
            max-width: 180px;
            border-radius: 50px;
        }
    }
    .eventContainer {
        width: 100%;
        height: 100%;
        @include flex-column();
        justify-content: space-between;
        align-items: start;

        .details {
            @include flex-column();
            gap: 24px;
            border-radius: 8px;
            padding: 32px 10px;
            width: 100%;
            box-sizing: border-box;

            .detailItem {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    white-space: pre-wrap;
                    margin: 0;
                    padding: 10px;
                }
            }
        }
    }
}
