@import '@styles/index.scss';
.profilePage {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    @include flex-column();
    align-items: center;
    .profileContent {
        max-width: 920px;
        width: 100%;
        height: auto;
        @include flex-row();
        align-items: start;
        justify-content: space-between;

        margin-top: 40px;
        div.imgWrapper {
            max-width: 300px;
            width: 100%;
            @include flex-column();
            box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.2);

            box-sizing: border-box;
            overflow: hidden;
            border-radius: 16px;
            .profilePhoto {
                width: 100%;
            }
        }
    }
}
