p.active {
    color: rgb(95, 135, 34);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02cm;
}
p.cancelled {
    color: rgb(223, 42, 42);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02cm;
}
p.archived {
    color: rgb(62, 62, 62);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02cm;
}
