@import '@styles';

.ticketCard {
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    max-width: 800px;
    max-height: 200px;
    @include flex-row();
    @include flex-justify-center();
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    .ticketBody {
        @include flex-column();
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
        .ticketTitle {
            margin: 0;
        }
        .ticketContent {
            p {
                padding: 0 10px;
            }
            button {
                border-radius: 50px;
                padding: 0 20px;
            }
        }
    }
    .ticketFooter {
        writing-mode: vertical-lr;
        background-color: $dark-grey-color;
        height: 100%;
        text-align: center;
        p {
            color: $white-color;
            letter-spacing: 0.2ch;
            font-weight: 500;
        }
    }
}
