@import '@styles';
.reviewsContainer {
    width: 100%;
    height: auto;
    padding: 10px;
    @include flex-column();
    @include flex-all-center();
    .reviewsList {
        width: 100%;
        height: auto;
        @include flex-column();
        @include flex-justify-center();
        gap: 10px;
        .reviewCard {
        }
    }
}
