@import './mixins.scss';
@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100vh;
    width: 100%;
    @include flex-column;
    overflow-y: scroll;
    background-color: $bg-color;

    .page-content {
        flex: 1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

body::selection {
    display: none;
}

*::-moz-selection {
    display: none;
}
