@import './mixins.scss';
@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100vh;
    width: 100%;
    @include flex-column;
    overflow-y: scroll;
    background-color: $bg-color;

    .page-content {
        flex: 1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

body::selection {
    display: none;
}

*::-moz-selection {
    display: none;
}

a:active,
a {
    color: #666;
    transition: ease-in-out 0.3s;

    &:hover {
        text-decoration: none;
        color: $dark-grey-color;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}

section.header,
section.footer {
    @include flex-row();
    @include flex-justify-center();
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    min-height: 60px;
    max-height: 80px;
    height: 100%;

    padding: 10px;
    background-color: $soft-light-gray-2;

    a:active,
    a {
        color: #666;
        transition: ease-in-out 0.3s;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $dark-grey-color;
        }
    }
}

section.header {
    border-bottom: 1px solid $soft-light-gray;
}

section.footer {
    border-top: 1px solid $soft-light-gray;
}
