$soft-light-gray: #e7e7e7;
$soft-light-gray-2: rgb(250, 250, 250);
$white-color: #fff;
$dark-grey-color: #302f2d;
$grey-color: rgb(99, 99, 99);
$bg-color: #f5f4f2;
$btn-default-color: #e5e4e2;
$btn-submit-color: #302f2d;
$error-message: #ffc1c1;
$success-message: #d1ffb1;
