@import '@styles';

.answerCard {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 20px;
    background-color: inherit;
    @include flex-column();
    @include flex-all-center();
    color: rgb(65, 65, 65);
    box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
    border-radius: 8px;

    .answerContent {
        height: auto;
        width: 100%;
        @include flex-column();
        @include flex-justify-center();
        gap: 20px;
        img {
            height: 120px;
            width: 120px;
        }
    }
}

h2 {
    font-weight: 400;
    margin: 0;
}
