@import '@styles';

section.ticketPage {
    max-width: 1000px;
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: $bg-color;
    @include flex-column();
    box-sizing: border-box;
    margin: 0 auto;
    gap: 20px;
    .ticketContainer {
        @include flex-column();
        align-items: center;
        gap: 20px;
        flex: 1;
    }
}
