@import '@styles';

.errorPage {
    max-width: 1240px;
    width: 100%;
    height: auto;
    padding: 60px 20px;
    background-color: $bg-color;
    box-sizing: border-box;
    @include flex-column();
    @include flex-all-center();
    align-items: start;
    justify-content: space-between;
    margin: 0 auto;
    .errorContainer {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        max-height: 400px;
        max-width: 400px;
        margin: 0 auto;
        @include flex-column();
        @include flex-justify-center();
        div {
            @include flex-column();
            @include flex-all-center();
            .errorImg {
                height: 200px;
                width: 200px;
            }

            .errorTitle {
                font-size: 32px;
                font-weight: 400;
                white-space: pre-wrap;
                text-align: center;
            }
        }
        button {
            width: auto;
            padding: 0 20px;
        }
    }
}
