@import '@styles/index.scss';

.registerPage {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    @include flex-column;
    @include flex-all-center;
    height: auto;
}
