@import '@styles/index.scss';
section.eventPage {
    max-width: 1000px;
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: $bg-color;
    @include flex-column();
    box-sizing: border-box;
    margin: 0 auto;
    gap: 20px;
    .eventHeader {
        @include flex-row();
        @include flex-justify-center();
        width: 100%;
        .title,
        h1 {
            flex: 1;
            margin: 0;
        }
        button {
            max-width: 200px;
            border-radius: 50px;
        }
    }
    .carouselWrapper {
        width: auto;
        height: auto;
        position: relative;
        .rating {
            width: 70px;
            height: 50px;
            border-radius: 6px;
            margin: 8px;
            overflow: hidden;
            z-index: 1;
            position: absolute;
            @include flex-column();
            @include flex-all-center();
            span {
                font-size: 20px;
                font-weight: 500;
                width: 100%;
                height: 100%;
                text-align: center;
                padding-top: 12px;
                color: $white-color;
            }
        }
    }
    .eventContainer {
        width: 100%;
        height: 100%;
        @include flex-column();
        justify-content: space-between;
        align-items: start;

        .details {
            @include flex-column();
            gap: 24px;
            border-radius: 8px;
            padding: 32px 10px;
            width: 100%;
            box-sizing: border-box;

            .detailItem {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    white-space: pre-wrap;
                    margin: 0;
                    padding: 10px;
                }
            }
        }
    }
}
