@import '@styles/index.scss';
.homePage {
    max-width: 1240px;
    width: 100%;
    height: auto;
    padding: 60px 20px;
    background-color: $bg-color;
    box-sizing: border-box;
    @include flex-row();
    align-items: start;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 940px) {
        @include flex-column();
        flex-direction: column-reverse;
    }
    .eventContainer {
        @include flex-column();
        align-items: center;
        gap: 20px;
        flex: 1;
        margin: 0 auto;
    }
    .wrapper {
        @media (max-width: 940px) {
            max-width: none;
            width: 100%;
        }
        max-height: 450px;
        height: 100%;
        width: 300px;
        @include flex-column();
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
}
